body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Philosopher', sans-serif;

}
.banner-container{
    background-color:#CBCACC;
}
.banner-column{
    background-color: #868486;
}
.Navbar-container{
    background-color: rgb(39,43,56);
    position: sticky;
    top: 0%;
    z-index: 2;
}
.about-container{
    background-color: rgb(1,187,189);
}
.education-container{
    background-color: rgb(238,237,239);
}
.ed-sef{
  color: rgb(206,38,140);
}
.bg-co{
    background-color:rgb(206,38,140) ;
}

.circle-edu{ 
    background-color:rgb(206,38,140) ;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
   
    

.project-container{
      background-color: rgb(45,177,225);
}
.headertwo{
    color: white;
}
.portfolio-container{
    background-color: honeydew;
}
.form-container{
    background-color: rgb(70,75,93);
}
.inner-form{
    background-color: rgb(83,90,112);
}
.form-bg{
    background-color: rgb(206,38,140);
}
.form-bg:hover{
    color: blue ;
    background-color: rgb(181,96,92);
}

.footer{
    background-color: rgb(42,167,212);
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: rgb(45,177,225);
}

.circle:hover{
   
    background-color:rgb(70,75,93) ;

}